{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MT4J2WMBX7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MT4J2WMBX7');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="London based web developers. Take your first step to having your own website today with a free consultation. From designing to deployment we do it all."/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/yhs_fav.png' %}"/>

    <!-- Page Title -->
    {% if title %}
    <title>{{title}} | yellowhousestudios</title>
    {% else %}
    <title>yellowhousestudios</title>
    {% endif %}
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Custom Font -->
    <link rel="stylesheet" href="https://use.typekit.net/cka0spm.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body class="custom-bg">

  <nav class="navbar navbar-expand-lg navbar-dark bg-trans py-4">
    <a class="navbar-brand" href="{% url 'home' %}">
      <div class=d-flex>
        <img id="logo" src="{% static 'images/yhs_logo.png' %}" alt="" class="img-fluid mr-2" style="height:45px;">
        <h1 id="title-a">yellow<span class="text-primary">house</span>studios</h1>
      </div>
    </a>
    <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="ml-auto navbar-nav">
        <a class="yel-hov mx-4 nav-item nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        <a class="yel-hov mx-4 nav-item nav-link text-white" href="{% url 'pricing' %}">Pricing</a>
        <!-- <a class="yel-hov mx-4 nav-item nav-link text-white" href="{% url 'portfolio' %}">Our Portfolio</a> -->
        <a class="btn btn-primary px-5 mx-2 mx-md-4 nav-item nav-link button-hov" style="color: black;" href="{% url 'contact' 'consultation' %}"><span class="text-hov">Free Consultation</span></a>
      </div>
    </div>
  </nav>

<!-- FLASH MESSAGES -->
{% if messages %}
{% for message in messages %}
  <div class="text-center alert alert-{{ message.tags }}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

{% block content %}
{% endblock %}
<!-- Footer -->
<footer class="bg-secondary text-lg-start sticky-bottom">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-wrap justify-content-center">
          <a class="text-white mx-4" style="text-decoration: none;" href="" target="_blank" class="text-white"><p>Home</p></a>
          <a class="text-white mx-4" style="text-decoration: none;" href="" target="_blank" class="text-white"><p>Contact Us</p></a>
          <a class="text-white mx-4" style="text-decoration: none;" href="" target="_blank" class="text-white"><p>Pricing</p></a>
          <a class="text-white mx-4" style="text-decoration: none;" href="" target="_blank" class="text-white"><p>Our Portfolio</p></a>
        </div>
        <div class="text-center">
          <a href="https://www.iubenda.com/privacy-policy/50964169" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-dark text-white">
    © 2021 Copyright: <a style="text-decoration: none; color: white;" href="https://yellowhousestudios.co.uk/"><b>yellowhousestudios</b></a> | Powered by <b>Django</b>
  </div>
  <!-- Copyright -->
</footer>
<script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'popper.js/dist/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- AOC JavaScript -->
<script src="{% static 'aoc/aoc.js' %}"></script>
<script>AOS.init({
  duration: 1300,
  offset: 200
});</script> 

</body>
</html>