$font-family-sans-serif: 'Work Sans', sans-serif;

$font-family-display: 'Work Sans', sans-serif;

$line-height-base: 2;

// Make sure to include this for parallax! <div class="parallax" style="background-image: url('{% static 'shakespeare/images/macbeth.jpg' %}');"></div>
.parallax {
  height: 15vw;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(90deg, rgba(208,195,187,1) 25%, rgba(0,0,0,1) 100%);
}

header > .container {
  position: relative;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-display;
}

p {
    font-family: $font-family-sans-serif;
    line-height: $line-height-base;
}

.container-fluid {
  padding: 0 !important;
  overflow: hidden;
}

#footer {
    position: absolute; 
    bottom: 0; 
  }
  
  html, body {
    height: 95%;
    margin: 0;
  }
  
$primary: #F3D92F;

$secondary: #A5A5A5;

// USEFUL TO SEE ALL BORDERS IF THERE IS ANY OVERFLOW
// * {
//   border: 1px solid #f00 !important;
// }

@import "node_modules/bootstrap/scss/bootstrap";