{% extends "yhs/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid h-txt">
    <div class="h-txt">
    <div class="row">
        <div class="col">
            <h1 style="font-size: 12rem;" class="display-1 text-white">HAND <span class="text-primary">CODED</span> WEB DESIGN</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <lead style="font-size: 1.2rem;" class="text-white">Our websites are not created using templates, contact us today and own your unique website. Whether you want to extend your brand or sell your products, we can make your vision become a reality.</lead>
            <button class="btn btn-outline-primary text-white">Pricing</button>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid mid-grey py-5">

    <div class="row">
        <div class="col">
            <h1 class="text-center display-2 pb-5">WHAT WE DO</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xl-4">
            <ul style="list-style: none;">
                <li class="mb-5"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"><lead style="font-size: 1.5rem;">Design your website</lead></li>
                <li class="mb-5"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"><lead style="font-size: 1.5rem;">Build your website</lead></li>
            </ul>
        </div>
        <div class="col-md-6 col-xl-4">
            <ul style="list-style: none;">
                <li class="mb-5"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"><lead style="font-size: 1.5rem;">Deploy your website</lead></li>
                <li class="mb-5"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"><lead style="font-size: 1.5rem;">Host your website</lead></li>
            </ul>
        </div>
        <div class="col-md-6 col-xl-4">
            <ul style="list-style: none;">
                <li class="mb-5"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"><lead style="font-size: 1.5rem;">Get your domain</lead></li>
                <li class="mb-5"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"><lead style="font-size: 1.5rem;">SSL certify your website</lead></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-white p-4">
    <div class="row">
        <div class="col">
            <h1 class="display-2 py-4 separator">THE PROCESS</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <img class="img-fluid" src="{% static 'images/talk.jpg' %}">
                </div>
                <div class="col-6 d-flex align-self-center">
                    <div class="card" style="border: none;">
                        <h1>TELL US WHAT YOU WANT</h1>
                        <lead style="font-size: 1.5rem;">Share your vision with us, and help us make that become a reality. Provide us with the content you would like on the website.</lead>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 d-flex align-self-center">
                    <div class="card text-right" style="border: none;">
                        <h1>WE DESIGN IT</h1>
                        <lead style="font-size: 1.5rem;">We will design a visual prototype of the website for you until you are happy with the final design.
                        </lead>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <img class="img-fluid" src="{% static 'images/design.jpg' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <img class="img-fluid" src="{% static 'images/build.png' %}">
                </div>
                <div class="col-6 d-flex align-self-center">
                    <div class="card" style="border: none;">
                        <h1>WE BUILD IT</h1>
                        <lead style="font-size: 1.5rem;">We will then build the website for you, hand coded, so that we can create a truly unique website for you.
                        </lead>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 d-flex align-self-center">
                    <div class="card text-right" style="border: none;">
                        <h1>WE DEPLOY IT</h1>
                        <lead style="font-size: 1.5rem;">Once the website has been built, we will deploy and host your website on our server with your domain of choice and an SSL certificate.

                        </lead>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <img class="img-fluid" src="{% static 'images/deploy.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mid-grey p-4">
    <div class="row">
        <div class="col">
            <h1 class="display-2 py-4 separator">WHY CHOOSE US?</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table bg-white rounded">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"><lead style="font-size: 1.5rem">yellowhousestudios</lead></th>
                      <th scope="col"><lead style="font-size: 1.5rem">Wordpress/Wix/Squarespace</lead></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><lead style="font-size: 1.5rem;">No templates used to ensure a unique website every time.</lead></td>
                      <td><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                      <td><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                    </tr>
                    <tr>
                      <td><lead style="font-size: 1.5rem;">No restrictions from drag and drop tools. Anything is possible.</lead></td>
                      <td><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                      <td><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                    </tr>
                    <tr>
                      <td><lead style="font-size: 1.5rem;">Don't worry about having to host or deploy your website with an SSL certificate</lead></td>
                      <td><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                      <td><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                    </tr>
                    <tr>
                        <td><lead style="font-size: 1.5rem;">Your time is valuable. Why build your website yourself when we can do it for you!</lead></td>
                        <td><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                        <td><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}