{% extends "yhs/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid d-flex align-items-center" style="min-height:100%;">
    <div class="mx-4">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title-c" style="font-size: 10rem;" class="text-white">HAND <span class="text-primary">CRAFTED</span> WEB DESIGN</h1>
                <p class="text-white">Our websites do not use templates, ensuring a unique website for every customer. Get your free website consultation today and take your first step to extend your brand.</p>
                <a style="border-width: 4px;" class="my-4 px-md-5 btn btn-outline-primary text-white button-hov" href="{% url 'contact' 'consultation' %}"><lead class="text-hov">Free Website Consultation</lead></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white p-4">
    <div class="row">
        <div class="col">
            <h1 class="display-3 py-2 separator mt-3">THE PROCESS</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xl-3 d-flex justify-content-start">
            <div class="d-none d-sm-block d-xl-none">
                <img style="height: 200px; width: 200px;" src="{% static 'images/talk.jpg' %}">
            </div>
            <div class="card py-4" style="border: none;">
                <h2>1. TELL US WHAT YOU WANT.</h2>
                <p>Start by choosing which website plan you would like, and any content you would like on your website. Then share your vision with us, be as detailed or brief as you like, we'll do the rest!
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-xl-3 d-flex justify-content-start">
            <div class="d-none d-sm-block d-xl-none">
                <img style="height: 200px; width: 200px;" src="{% static 'images/design.jpg' %}">
            </div>
            <div class="card py-4" style="border: none;">
                <h2>2. WE DESIGN IT.</h2>
                <p>We will create a visual sketch of the website for you within a few days, we won't start building the website for you until you are happy with the final design. 
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-xl-3 d-flex justify-content-start">
            <div class="d-none d-sm-block d-xl-none">
            <img style="height: 200px; width: 200px;" src="{% static 'images/build.jpg' %}">
            </div>
            <div class="card py-4" style="border: none;">
                <h2>3. WE BUILD IT.</h2>
                <p>Using all of the content you have provided us with, such as images and text, We will then start building the website for you, no templates included!
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-xl-3 d-flex justify-content-start">
            <div class="d-none d-sm-block d-xl-none">
                <img style="height: 200px; width: 200px;" src="{% static 'images/deploy.jpg' %}">
            </div>
            <div class="card py-4" style="border: none;">
                <h2>4. WE DEPLOY IT.</h2>
                <p>Once the website has been built and you're happy with it, we will deploy it to the internet and host it for you on our server free for one year.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mid-grey p-4">
    <div class="row">
        <div class="col">
            <h1 class="display-3 py-2 separator mt-3">WHY CHOOSE US?</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 px-2">
            <div class="card custom-round p-4 table-responsive">
                <!-- LIST FOR MOBILE -->
                <div class="d-flex d-sm-none">
                    <div class="text-center">
                        <img style="width: 50px;height: 50px;" src="{% static 'images/tick.png' %}">
                        <p class="my-2">We don't use templates or drag and drop tools to create our websites. This gives us complete control, allowing a completely unique website every time.</p>
                        <img style="width: 50px;height: 50px;" src="{% static 'images/tick.png' %}">
                        <p class="my-2">Creating a website can be intimidating, that's why we take care of everything for you. From design to deployment of the website, we've got you covered, so you don't have to worry about doing this yourself.</p>
                        <img style="width: 50px;height: 50px;" src="{% static 'images/tick.png' %}">
                        <p class="my-2">We have great customer service, and will always be there to support you with your website. Talk to us directly and avoid spending hours searching through FAQs!</p>
                    </div>
                </div>
                
                <!-- TABLE FOR LARGE SCALE -->
                <table class="table bg-white rounded d-none d-sm-block">
                    <thead>
                        <tr>
                            <th style="width: 50%;" scope="col"></th>
                            <th scope="col" class="align-middle text-center">yellowhousestudios</th>
                            <th scope="col" class="text-center">Website builders</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">We don't use templates or drag and drop tools to create our websites. This gives us complete control, allowing a completely unique website every time.</td>
                            <td class="text-center align-middle"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                            <td class="text-center align-middle"><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                        </tr>
                        <tr>
                            <td class="align-middle">Creating a website can be intimidating, that's why we take care of everything for you. From design to deployment of the website, we've got you covered, so you don't have to worry about doing this yourself.</td>
                            <td class="text-center align-middle"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                            <td class="text-center align-middle"><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                        </tr>
                        <tr>
                            <td class="align-middle">We have great customer service, and will always be there to support you with your website. Talk to us directly and avoid spending hours searching through FAQs!</td>
                            <td class="text-center align-middle"><img class="mx-4" id="cart-icon" src="{% static 'images/tick.png' %}"></td>
                            <td class="text-center align-middle"><img class="mx-4" id="cart-icon" src="{% static 'images/remove.png' %}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="my-4 py-2 btn btn-success btn-block" href="{% url 'contact' 'consultation' %}">Free Website Consultation</a>
        </div>
    </div>
</div>
<div class="container-fluid bg-white">
    <div class="row py-4 px-4">
        <div class="d-flex flex-wrap justify-content-around mx-auto">
            <h1 class="align-self-center">We Use:</h1>
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/python.jpg' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/django.png' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/bootstrap.png' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/nginx.png' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/gunicorn.jpg' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/html.png' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/css.png' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/js.png' %}">
            <img class="img-fluid mx-2 mx-sm-4 my-2" style="max-height:50px;" src="{% static 'images/git.png' %}">
        </div>
    </div>
</div>
{% endblock %}