{% extends 'yhs/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid h-txt">
    <div class="row">
        <div class="col">
            <h1 style="font-size: 12rem;" class="display-1 text-white"><span class="text-primary">PRICING</span></h1>
        </div>
    </div>
</div>
<div class="container-fluid py-5 mb-5">
    <div class="row">

        <div class="col-md-4">
            <div id="price-card" style="box-shadow: #cccccc 0 0 16px;" class="card text-center m-4">
                <div class="card-body">
                    <div class="card-title">
                        <h2>BASIC WEBSITE</h2>
                        <div class="py-4" style="background: #00E7FF;">
                            <p style='display:inline; font-size: 1.2rem;'>from </p>
                            <h1 style='display:inline;' class="display-2">£400</h1>
                        </div>
                        <hr>
                    </div>
                    <div class="card-text">
                        <p>5 Pages.</p>
                        <p><b>Basic Features:</b></p>
                        <p>Social media integration</p>
                        <p>Images</p>
                        <p>Embedded videos</p>
                        <hr>
                        <a style="display: block;" class="btn btn-success" href="{% url 'contact' 'basic' %}">Get a Quote</a>
                    </div>
                </div>
                <div class="card-footer">
                    <small>Included: Mobile Compatibility, one years hosting of the website, custom domain name.</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="price-card" style="box-shadow: #cccccc 0 0 16px;" class="card text-center m-4" id="middle-card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>BASIC WEBSITE</h2>
                        <div class="py-4" style="background: #F9ED69;">
                            <p style='display:inline; font-size: 1.2rem;'>from </p>
                            <h1 style='display:inline;' class="display-2">£400</h1>
                        </div>
                        <hr>
                    </div>
                    <div class="card-text">
                        <p>5 Pages.</p>
                        <p><b>Basic Features:</b></p>
                        <p>Social media integration</p>
                        <p>Images</p>
                        <p>Embedded videos</p>
                        <hr>
                        <a style="display: block;" class="btn btn-success" href="{% url 'contact' 'basic' %}">Get a Quote</a>
                    </div>
                </div>
                <div class="card-footer">
                    <small>Included: Mobile Compatibility, one years hosting of the website, custom domain name.</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="price-card" style="box-shadow: #cccccc 0 0 16px;" class="card text-center m-4">
                <div class="card-body">
                    <div class="card-title">
                        <h2>BASIC WEBSITE</h2>
                        <div class="py-4" style="background: #FF8AAB;">
                            <p style='display:inline; font-size: 1.2rem;'>from </p>
                            <h1 style='display:inline;' class="display-2">£400</h1>
                        </div>
                        <hr>
                    </div>
                    <div class="card-text">
                        <p>5 Pages.</p>
                        <p><b>Basic Features:</b></p>
                        <p>Social media integration</p>
                        <p>Images</p>
                        <p>Embedded videos</p>
                        <hr>
                        <a style="display: block;" class="btn btn-success" href="{% url 'contact' 'basic' %}">Get a Quote</a>
                    </div>
                </div>
                <div class="card-footer">
                    <small>Included: Mobile Compatibility, one years hosting of the website, custom domain name.</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}